<a href="https://colab.research.google.com/github/PabloCaSan/Data-Science-Training/blob/main/Notas_PythonSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PostgreSQL

Primero importamos las librerías

```
!pip install psycopg2
import psycopg2
import pandas as pd
import numpy as np
```

Ahora creamos una conexión con la base de datos

```
conn_sql = psycopg2.connect(user = "user_name",
                            password = "password",
                            host = "xxx.xxx.xxx.xxx",
                            port = "5432",
                            database = "postgres_db_name")
```

Definimos nuestro query (código de SQL)

```
query_sql = '''
select *
from table_name
limit 10
'''
```
Donde * es para mostrar todo. (También se puede mostrar 
solo una columna como *select COLUMNA from table_name*)  

Y creamos el dataframe

```
df = pd.read_sql(query_sql, sql_conn)
df.head(5)
```

#SQL Server

Primero importamos las librerías

```
!pip install pyodbc
import pandas as pd
import pyodbc
```


Ahora creamos una conexión con SQL


```
driver = '{SQL Server}'
server_name = 'server_name'
db_name = 'database_name'
user = 'user'
password = 'password'
sql_conn = pyodbc.connect('''
DRIVER={};SERVER={};DATABASE={};UID={};PWD={};
Trusted_Connection=yes
'''.format(driver, server_name, db_name, user, password))
```
O con DSN

```
dsn = 'odbc_datasource_name'
sql_conn = pyodbc.connect('''
DSN={};UID={};PWD={};Trusted_Connection=yes;
'''.format(dsn, user, password))
Seguido simplemente definimos nuestra query en SQL:	
query_sql = 'select * from table_name limit 10'
```

Y creamos el dataframe

```
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

```

#MySQL / Oracle / Otras:

Primero importamos las librerías

```
!pip install sqlalchemy
import pandas as pd
import sqlalchemy as sql
Escogemos nuestra base de datos, Oracle, MySql o la de tu preferencia:
database_type = 'mysql'
database_type = 'oracle'
```

Ahora creamos una conexión con la base de datos

```
user = 'user_name'
password = 'password'
host = 'xxx.xxx.xxx.xxx:port'
database = 'database_name'

conn_string = '{}://{}:{}@{}/{}'.format(
database_type, user, password, host, database)

sql_conn = sql.create_engine(conn_string)
```

Definimos nuestra query

```
query_sql = '''
select *
from table_name
limit 10
'''
```

Y creamos el dataframe

```
df = pd.read_sql(query_sql, sql_conn)
df.head(5)
```