<a href="https://colab.research.google.com/github/PabloCaSan/Data-Science-Training/blob/main/Pandas1_GuardandoVariables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Platzi 1**  
Primero importamos las librerías

In [ ]:
import numpy as np
import pandas as pd

Ahora guardamos una matriz (de 1x5) en una variable tipo "serie"

In [ ]:
sr = pd.Series([1,2,3,4,5])
sr

0    1
1    2
2    3
3    4
4    5
dtype: int64

Podemos ver el rango de la matriz

In [ ]:
sr.index

RangeIndex(start=0, stop=5, step=1)

Y la dimensión

In [ ]:
sr.shape

(5,)

Ahora podemos llamar un(os) elemento(s) dentro de la matriz usando su i-valor

In [ ]:
sr[3]

4

In [ ]:
sr[[2,3,4]]

2    3
3    4
4    5
dtype: int64

También podemos renombrar los índices (el i-valor)

In [ ]:
sr = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
sr

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
sr['c']

3

In [ ]:
sr[['a','c','e']]

a    1
c    3
e    5
dtype: int64

In [ ]:
sr['b':'d']

b    2
c    3
d    4
dtype: int64

Ahora creamos un "diccionario"

In [ ]:
dict_data = {'CO':100, 'MX':200, 'AR':300}
dict_data

{'AR': 300, 'CO': 100, 'MX': 200}

Podemos extraer las "llaves"

In [ ]:
dict_data.keys()

dict_keys(['CO', 'MX', 'AR'])

O bien extraer el valor asociado a cada llave

In [ ]:
dict_data['MX']

200

Los datos y las series son muy parecidos.  
Podemos transformar diccionario en series de Pandas

In [ ]:
pd.Series(dict_data)

CO    100
MX    200
AR    300
dtype: int64

También se puede cargar solo una parte de un diccionario y añadir valores nuevos

In [ ]:
sr2 = pd.Series(dict_data, index=['CO','MX','PE'])
sr2

CO    100.0
MX    200.0
PE      NaN
dtype: float64

Notemos que 'PE' de Perú no está definido, pues nunca le dimos un valor, por lo tanto aparece como un valor nulo (NaN).  
Numpy nos permite tener valores nulos, de tal manera que al realizar operaciones matemáticas, siempre nos devuelvan un valor nulo

In [ ]:
np.nan

nan

In [ ]:
np.nan+10

nan

In [ ]:
np.nan*10

nan

Podemos ver si los valores dentro de una Serie son nulos o no

In [ ]:
sr2.isnull()

CO    False
MX    False
PE     True
dtype: bool

In [ ]:
sr2.notnull()

CO     True
MX     True
PE    False
dtype: bool