<a href="https://colab.research.google.com/github/PabloCaSan/Data-Science-Training/blob/main/Notebook3_ImportandoDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conectamos con nuestra cuenta de Google Drive para poder almacenar los archivos generados. Para ello hacemos lo siguiente:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Ahora, usamos un comando mágico (%) que nos permite acceder a la línea de comandos de Linux, y navegamos hasta la carpeta donde tenemos nuestra carpeta de Google Colab, en mi caso es la carpeta "Platzi".

**Nota:** *cd* sirve para cambiar de directorio/carpeta, y *ls* sirve para ver el contenido.

In [ ]:
%cd '/content/drive/MyDrive/Platzi'
!ls

/content/drive/MyDrive/Platzi
Pandas1.ipynb  Pandas2.ipynb  Pandas3.ipynb

Como paréntesis, notemos que se puede almacenar variables de tipo texto de la siguiete manera:

In [ ]:
'Hola Mundo'

'Hola Mundo'

In [ ]:
'Hola {}'.format('Mundo')

'Hola Mundo'

Ahora creamos un nuevo directorio, usando el comando de Linux: *mkdir*

**Nota:** Para ver cómo se usan los comandos de Linux, podemos usar el sufijo: *--h*  
Por ejemplo: 

```
!mkdir --h
```

In [ ]:
!mkdir /content/drive/MyDrive/Platzi/db

Para acortar el proceso al generar archivos, creamos una variable a la que le iremos cambiando el sufijo:

In [ ]:
dir_pandas = '/content/drive/MyDrive/Platzi/db/{}'.format('test.csv')
dir_pandas

'/content/drive/MyDrive/Platzi/db/test.csv'

Cargamos la librería de Pandas y la de NumPy

In [ ]:
import pandas as pd
import numpy as np

Creamos nuevamente el diccionario de la práctica anterior

In [ ]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

Y lo convertimos a dataframe

In [ ]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

Ahora, guardamos nuestra dataframe en un archivo dentro de la carpeta que creamos anteriormente

In [ ]:
df.to_csv(dir_pandas)

Para ver si se guardó correctamente hacemos:

In [ ]:
!ls /content/drive/MyDrive/Platzi/db

test.csv

Si lo abrimos desde Drive observaremos que se creó una columna de índices adicional. Para evitar esto podemos hacer lo siguiente:

In [ ]:
!rm /content/drive/MyDrive/Platzi/db/test.csv #Esta línea no es estrictamente necesaria, sirve para borrar el archivo
df.to_csv(dir_pandas, index = False)

Podemos leer el archivo desde Python haciendo:

In [ ]:
pd.read_csv('/content/drive/MyDrive/Platzi/db/test.csv')

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

Para no estar escribiendo lo anterior una y otra vez, lo guardamos en una variable

In [ ]:
df_read = pd.read_csv('/content/drive/MyDrive/Platzi/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

Se puede cambiar el separador del archivo haciendo:

```
df.to_csv(dir_pandas, sep = '|', index = False)
```

**Nota:** *csv* significa "Comma Separated Values". También existe *tsv* cuyos valores están separados por un tabulador (un espacio en blanco).

Para leer un archivo csv con separador modificado, hacemos:

```
pd.read_csv('/content/drive/MyDrive/Platzi/db/test.csv', sep = '|')
```