<a href="https://colab.research.google.com/github/PabloCaSan/Data-Science-Training/blob/main/Notebook9-Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unir dataframes usando *merge()*

In [ ]:
import pandas as pd

Creamos los dataframes con los que trabajaremos

In [ ]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'Mix':['y2','y3','a2','a3']},
    index = ['y2','y3','a2','a3'])

df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])

In [ ]:
df_left

     X   W   Y Mix
y2  x0  w0  y0  y2
y3  x1  w1  y1  y3
a2  x2  w2  y2  a2
a3  x3  w3  y3  a3

In [ ]:
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

Ahora los unimos

In [ ]:
pd.merge(df_left,df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

Notemos que se unen usando la columna que tienen en común. También se pude modificar el tipo de unión (merge), en este caso es de tipo:

In [ ]:
pd.merge(df_left,df_right, how = 'inner', on = 'Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3


También se puede especificar mediante qué columna se van a unir

In [ ]:
pd.merge(df_left,df_right, how = 'inner', left_on = 'Mix', right_on = 'Y')

    X   W Y_x Mix   Z   A Y_y
0  x0  w0  y0  y2  z2  a2  y2
1  x1  w1  y1  y3  z3  a3  y3

In [ ]:
pd.merge(df_left,df_right, how = 'inner', left_on = 'Mix', right_on = 'A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3

Añadimos una imagen para explicar los tipos de unión.

**Nota.** Para añadir imágenes, se hace como en el código de abajo.

```
![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)
```

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

Por ejemplo, una unión de derecha es:

In [ ]:
pd.merge(df_left,df_right, how = 'right', on = 'Y')

     X    W   Y  Mix   Z   A
0   x2   w2  y2   a2  z2  a2
1   x3   w3  y3   a3  z3  a3
2  NaN  NaN  y4  NaN  z4  a4
3  NaN  NaN  y5  NaN  z5  a5

Y una unión "outer"

In [ ]:
pd.merge(df_left,df_right, how = 'outer', on = 'Y')

     X    W   Y  Mix    Z    A
0   x0   w0  y0   y2  NaN  NaN
1   x1   w1  y1   y3  NaN  NaN
2   x2   w2  y2   a2   z2   a2
3   x3   w3  y3   a3   z3   a3
4  NaN  NaN  y4  NaN   z4   a4
5  NaN  NaN  y5  NaN   z5   a5

Para el siguiente ejemplo, modifiquemos la df_left con una columna A en lugar de Mix

In [ ]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'A':['a0','a1','a2','a3']})
df_left

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [ ]:
pd.merge(df_left,df_right, how = 'outer', on = ['Y', 'A'])

     X    W   Y   A    Z
0   x0   w0  y0  a0  NaN
1   x1   w1  y1  a1  NaN
2   x2   w2  y2  a2   z2
3   x3   w3  y3  a3   z3
4  NaN  NaN  y4  a4   z4
5  NaN  NaN  y5  a5   z5

In [ ]:
pd.merge(df_left,df_right, how = 'outer', on = 'A')

     X    W  Y_x   A    Z  Y_y
0   x0   w0   y0  a0  NaN  NaN
1   x1   w1   y1  a1  NaN  NaN
2   x2   w2   y2  a2   z2   y2
3   x3   w3   y3  a3   z3   y3
4  NaN  NaN  NaN  a4   z4   y4
5  NaN  NaN  NaN  a5   z5   y5

En esta última unión notemos que las Y tienen sufijos, éstos se pueden modificar

In [ ]:
pd.merge(df_left,df_right, how = 'outer', on = 'A', suffixes = ['_left', '_right'])

     X    W Y_left   A    Z Y_right
0   x0   w0     y0  a0  NaN     NaN
1   x1   w1     y1  a1  NaN     NaN
2   x2   w2     y2  a2   z2      y2
3   x3   w3     y3  a3   z3      y3
4  NaN  NaN    NaN  a4   z4      y4
5  NaN  NaN    NaN  a5   z5      y5